@model Dictionary.Models.tblWord

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h2>Thêm từ mới</h2>

    @using (Html.BeginForm("Create", "Word", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()

<div class="well">
    <h4>Chi tiết thêm từ</h4>
    <hr />

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">
        @Html.LabelFor(model => model.Id_Language, "Chọn ngôn ngữ : ", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("Id_Language", ViewBag.Id_Language as IEnumerable<SelectListItem>, "", new { @class = "form-control"})
            @Html.ValidationMessageFor(model => model.Id_Language, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Id_wordtype, "Chọn loại từ :", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("Id_wordtype", ViewBag.Id_wordtype as IEnumerable<SelectListItem>, "", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Id_wordtype, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="form-group">
        @Html.LabelFor(model => model.sWord, "Từ :", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.sWord, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.sWord, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.sExample, "Ví dụ : ", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.sExample, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.sExample, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Id_Language_trans, "Chọn ngôn ngữ dịch : ", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("Id_Language_trans", ViewBag.Id_Language_trans as IEnumerable<SelectListItem>, "", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Id_Language_trans, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.sDefinition, "Mô tả cho ngôn ngữ dịch: ", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.sDefinition, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.sDefinition, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-primary">Thêm</button>
        </div>
    </div>
</div>
    }
</div>

<div class="container">
    <div class="col-md-12">
        @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default" })
    </div>
</div>
